.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing {
    padding-left: 15px;
    padding-right: 15px;
}


/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}


/* Custom page footer */

.footer {
    /*padding-top: 19px;*/
    padding-left: 60px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    float: center;
    font-size: 10px;
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 70px;
}


/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 992px) {
    .container {
        /*max-width: 730px;*/
        max-width: 1920px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing {
        padding-left: 20;
        padding-right: 0;
        /*float: center;*/
        /*margin-right: 20px;*/
        font-size: 10px;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


/*自定义*/

.page_left {
    width: 20px;
    position: relative;
    float: left;
}

.page_right {
    margin-left: 200px;
}

.krd_logo {
    margin-right: 20px;
    font-size: 10px;
}


/*导航条字体*/

.navbar-nav li {
    font-size: 14px;
}


/*正文按钮间隔及字体*/

.narrow .btn {
    font-size: 16px;
    /*padding: 14px 24px;*/
    padding: 10px 10px;
    margin-left: 0px;
    margin-top: 20px;
}

.wide .btn {
    font-size: 16px;
    /*padding: 14px 24px;*/
    padding: 10px 10px;
    margin-left: 0px;
    margin-top: 50px;
}

/*分页条*/
.pagination{
    float: center;
}

